<settings>
  <servers>
    <server>
      <id>nexus-group</id>
      <username>${nexus.user}</username>
      <password>${nexus.password}</password>
    </server>
    <server>
      <id>nexus-release</id>
      <username>${nexus.user}</username>
      <password>${nexus.password}</password>
    </server>
    <server>
      <id>nexus-snapshot</id>
      <username>${nexus.user}</username>
      <password>${nexus.password}</password>
    </server>
  </servers>
</settings>
