<settings>
  <proxies>
    <proxy>
      <id>proxy-http</id>
      <active>${proxy.enabled}</active>
      <protocol>https</protocol>
      <host>proxym-inter.aphp.fr</host>
      <port>8080</port>
    </proxy>
    <proxy>
      <id>proxy-https</id>    
      <active>${proxy.enabled}</active>    
      <protocol>http</protocol>    
      <host>proxym-inter.aphp.fr</host>    
      <port>8080</port>
    </proxy>    
  </proxies>    
  <servers>
    <server>
      <id>nexus-group</id>
      <username>${nexus.user}</username>
      <password>${nexus.password}</password>
    </server>
    <server>
      <id>nexus-release</id>
      <username>${nexus.user}</username>
      <password>${nexus.password}</password>
    </server>
    <server>
      <id>nexus-snapshot</id>
      <username>${nexus.user}</username>
      <password>${nexus.password}</password>
    </server>
  </servers>
</settings>
