.App {
    font-family: sans-serif;
    text-align: center;
  }

/* See https://github.com/mbrn/material-table/issues/814 for an other (cleaner?) solution */
.MuiTableRow-root:hover { 
  background: #dedede !important 
}